/* page resets */
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* general */
body {
    background-image: url(images/wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-self: center;
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
}

/* search bar */
.searchBar {
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
    display: flex;
}

.searchBar:hover button {
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
}

.searchBar:hover input {
    width: 200px;
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-right: none;
    transition: 0.8s;
}

.searchBar:focus-within button {
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
}

.searchBar:focus-within input {
    width: 200px;
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-right: none;
    transition: 0.8s;
}

button {
    outline: none;
    border: none;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
}

input {
    all: unset;
    width: 0;
    background-color: transparent;
    margin: 0;
    padding: 0 10px;
    color:rgba(255, 255, 255, 0.7);
    outline: none;
    cursor:auto;
}


/* weather infos */
.weatherInfo {
    grid-column: 1 / 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cityInfo {
    display: flex;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 6rem;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

.highest:after {
    content: '°'
}

.lowest:after {
    content: '°'
}

.temperature {
    font-size: 6rem;
    margin: 0;
    cursor: pointer;
}

.temperature::after {
    content: attr(data-value);
}

.description {
    margin-top: 5px;
}

.highLow {
    display: flex;
    gap: 10px;
}

.animated {
    width: 100px;
}

@media (max-width: 700px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weatherInfo {
        align-self: start;
    }

    .searchBar {
        top: 92vh;
    }
}